@use "../stylesheets/vars.scss";

body {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: vars.$dark-grey;
    -webkit-font-smoothing: antialiased;
    background-color: vars.$background;

    &:after {
        position: fixed;
        width: 109px;
        height: 28px;
        top: 15px;
        right: -25px;
        text-align: center;
        font-size: 16px;
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        line-height: 30px;
        transform: rotate(45deg);
    }

    &.ReactModal__Body--open {
        overflow: hidden;
    }

}

a {
    cursor: pointer;
    color: #0077C8;
}

*, *:before, *:after {
    box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: vars.$blue;
}

::-moz-placeholder {
    color: vars.$blue;
    opacity: 1;
}
