$minDesktop: 1024px;
$minTablet: 768px;
$maxSmallPhone: 400px;

@mixin desktop {
  @media  (min-width: #{$minDesktop}) {
    @content
  }
}

@mixin tablet {
  @media  (min-width: #{$minTablet}) {
    @content
  }
}

@mixin phone {
  @media  (max-width: #{$minTablet - 1px} ) {
    @content
  }
}

@mixin small-phone {
  @media  (max-width: #{$maxSmallPhone} ) {
    @content
  }
}