node_modules
build
*.log*
.DS_Store
.idea
*.iml
TODO.txt
target
manage-gui/dist
manage-gui/coverage
*.css
whitelisting.json
seeds
DEMO.txt
eduGain.xml
manipulations.json
queries.txt
manage-prd
manage-server/mongo_db_queries.txt
dependency.tree
invite_public_key.pem
NOTES.md
yarn.list