@use "../stylesheets/vars.scss";
@use "../stylesheets/mixins.scss";

.activity {
    @include mixins.page;
    background-color: white;

    section.explanation {
        padding: 30px 15px;
    }

    section.options {
        align-items: center;

        div.entity-types {
            width: 600px;
            margin-right: 55px;
        }

        div.limit-value {
            width: 90px;
            margin-left: 10px;
        }

    }

    section.search, section.options {
        display: flex;
        width: 100%;
        margin-bottom: 15px;

        .search-input-container {
            flex-grow: 2;
            position: relative;
        }

        .search-input {
            padding: 10px;
            font-size: 14px;
            border-radius: 3px;
            border: 1px solid #d9d9d8;
            width: 100%;
            height: 100%;
        }

        .fa-search {
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 20px;
            color: vars.$blue;
        }
    }

    span.button {
        margin-left: auto;
        width: 240px;

        i.fa {
            margin-left: 25px;
        }

        &.copied {
            animation: pulse 1s;
            animation-iteration-count: 1;
            position: relative;
        }

        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 white;
            }
            70% {
                box-shadow: 0 0 10px 8px lighten(vars.$green, 15%);
            }
            100% {
                box-shadow: 0 0 0 0 white;
            }
        }
    }

    section.activity-printable {
        display: none;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        table-layout: fixed;

        th {
            text-align: left;
            padding: 3px;
            cursor: pointer;

            i {
                margin-left: 15px;
                color: vars.$lighter-grey;

                &.current, &.reverse {
                    color: vars.$blue;
                }
            }

            &.name {
                width: 17%;
            }

            &.organization {
                width: 17%;
            }

            &.entityId {
                width: 20%;
            }

            &.type {
                width: 8%;
            }

            &.created {
                width: 11%;
            }

            &.terminated {
                width: 7%;
            }

            &.revisionNote {
                width: 8%;
            }

            &.updatedBy {
                width: 12%;
            }
        }

        tbody {
            tr {
                cursor: pointer;

                &.stripe {
                    background-color: vars.$lightest-grey;
                }
            }

            td {
                vertical-align: middle;
                word-wrap: break-word;
                word-break: break-word;
                padding: 5px 8px 5px 1px;

                &.terminated {
                    text-align: center;
                }

                &.info {
                    padding: 5px;

                    i.fa-info-circle {
                        font-size: 20px;
                        color: vars.$blue;
                        margin-left: 20px;
                    }
                }

            }
        }

    }

    p.no-results {
        font-style: italic;
        margin: 15px 0;
        font-size: 16px;
    }

}

