@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.api {
  @include page;

  div.checkbox {
    margin-top: 10px;
  }

  section.options {
    display: flex;

    a {
      margin: 15px 0;

      i.fa-search-plus, i.fa-times {
        margin-left: 35px;
      }

      &.clipboard-copy {
        margin-left: auto;

        i.fa-clone {
          margin-left: 25px;
        }

        &.copied {
          animation: pulse 1s;
          animation-iteration-count: 1;
          position: relative;
        }

        @keyframes pulse {
          0% {
            box-shadow: 0 0 0 0 white;
          }
          70% {
            box-shadow: 0 0 10px 8px lighten($green, 15%);
          }
          100% {
            box-shadow: 0 0 0 0 white;
          }
        }

      }
    }
  }

  section.extended-search {
    background-color: white;
    padding: 15px 15px 150px 15px;

    p {
      padding: 15px 0 0 0;
    }

    input.fullTextSearch {
      width: 100%;
      border: 1px solid $lighter-grey;
      padding: 6px;
      border-radius: $br;
      font-size: 14px;
    }
  }

  div.status-select {
    margin-bottom: 20px;

    div.Select-control {
      margin-top: 0;
    }
  }

  section.results {
    padding: 30px;
    background-color: white;
    border: 1px solid $light-grey;
  }

  section#search-results-printable {
    display: none;
  }

  table.metadata-search-table, table.search-results {
    width: 100%;

    th {
      text-align: left;

      &.extra {
        padding-right: 10px;
      }

      &.notes {
        text-align: center;
      }
    }

    tbody {
      tr:nth-child(odd) {
        background-color: $lightest-grey;
      }

      td {
        vertical-align: middle;
        word-wrap: break-word;
        padding: 3px;

        &.key {
          width: 30%;
        }

        &.value {
          width: 70%;
        }

        &.trash {
          text-align: center;
          cursor: pointer;

          i.fa {
            color: $red;
            font-size: 20px;
            text-align: center;
            padding: 0 10px;
          }
        }

        &.state {
          width: 10%;
        }

        &.notes {
          width: 10%;
          text-align: center;

          i.fa-info-circle {
            color: $blue;
            font-size: 20px;
          }
        }

        &.name {
          width: 20%;
        }

        &.entityId {
          width: 25%;
        }

        input[type=text], input[type=email], textarea {
          width: 100%;
          font-size: 14px;
          padding: 0 10px;
          border-radius: 3px;
          border: 1px solid #d9d9d8;
          margin-top: 5px;
          line-height: 33px;

          &.error {
            border: solid 1px $red;
          }
        }

        span.error {
          display: inline-block;
          margin-top: 5px;
          color: $red;
        }
      }
    }
  }

  div.select-new-metadata {
    .Select-menu-outer {
      margin-bottom: 50px;
      max-height: 300px;
    }

    .Select-menu {
      max-height: 298px;
    }
  }

  section.extended-search {
    span.code {
      font-family: "Courier New";
      font-weight: bold;
    }

    a.reset {
      margin-right: 25px;
    }
  }

}

