@use "../stylesheets/application.scss";
@use "../stylesheets/vars.scss";

.App {
    text-align: center;
}

.App-header {
    background-color: vars.$blue;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}
