@import "../stylesheets/mixins.scss";
@import "../stylesheets/vars.scss";

.edugain {
    @include page;

    background-color: white;

    p.info {
        padding: 15px 0 0 30px;
        span.warning {
            color: $red;
        }
    }

    section.form {
        display: flex;
        padding: 30px;
        input {
            flex-grow: 2;
            font-size: 14px;
            padding: 0 10px;
            border-radius: 3px;
            border: 1px solid #d9d9d8;
            line-height: 33px;
        }
        i.fa-cloud-download {
            margin-left: 65px;
        }

    }
}

