@import "../stylesheets/vars.scss";

.mod-not-found, .mod-server-error {
  padding: 50px;
  text-align: center;
  margin: 50px 100px;
  background-color: white;
  box-shadow: 1px 4px 12px 1px $medium-grey;
  border-radius: $br;

  h1 {
    font-size: 200%;
    margin-bottom: 50px;
  }

}
