@use "../stylesheets/vars.scss";
@use "../stylesheets/mixins.scss";

.mod-policies {
    @include mixins.page;

    section.tabs {
        display: flex;
        margin-top: 15px;
        padding: 0;

        span {
            text-align: center;
            cursor: pointer;
            padding: 15px 25px;
            background-color: vars.$light-grey;
            color: vars.$dark-grey;
            text-transform: uppercase;
            border-right: 1px solid white;

            &.active {
                background-color: white;
                color: vars.$darker-blue;
                border-top: 2px solid vars.$blue;
                border-right: none;
                font-weight: bold;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    section.import, section.playground {
        background-color: white;
        padding: 15px 15px 150px 15px;

        p {
            padding: 15px 0;
        }

        a {
            margin: 15px 0;

            i.fa {
                margin-left: 35px;
            }
        }

    }

    section.results {
        padding: 30px;
        background-color: white;
        border: 1px solid vars.$light-grey;
    }

    ul.policies {
        margin-bottom: 20px;

        li {
            margin-left: 10px;

            span {
                display: block;

            }
        }
    }

}

