@use "../stylesheets/vars.scss";
@use "../stylesheets/mixins.scss";

.search-metadata {
    @include mixins.page;

    section.tabs {
        display: flex;
        margin-top: 15px;
        padding: 0;

        span {
            text-align: center;
            cursor: pointer;
            padding: 15px 25px;
            background-color: vars.$light-grey;
            color: vars.$dark-grey;
            text-transform: uppercase;
            border-right: 1px solid white;

            &.active {
                background-color: white;
                color: vars.$darker-blue;
                border-top: 2px solid vars.$blue;
                font-weight: bold;
                border-right: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    section.search {
        display: flex;
        padding: 30px;
        background-color: white;

        .search-input-container {
            flex-grow: 2;
            position: relative;
        }

        .search-input {
            padding: 10px;
            font-size: larger;
            width: 100%;
        }

        .fa-search {
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 20px;
            color: vars.$blue;
        }

        a.new {
            padding-left: 30px;

            i.fa-plus {
                margin-left: 35px;
            }
        }

    }
}

