@use "../stylesheets/vars.scss";
@use "../stylesheets/mixins.scss";

.mod-stepup-management {
    @include mixins.page;

    section.tabs {
        display: flex;
        margin-top: 15px;
        padding: 0;

        span {
            text-align: center;
            cursor: pointer;
            padding: 15px 25px;
            background-color: vars.$light-grey;
            color: vars.$dark-grey;
            text-transform: uppercase;
            border-right: 1px solid white;

            &.active {
                background-color: white;
                color: vars.$darker-blue;
                border-top: 2px solid vars.$blue;
                border-right: none;
                font-weight: bold;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

}

