@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.support {
  @include page;
  background-color: white;
  section.explanation {
    padding: 30px 15px;
    p {
      padding: 0;
    }
    span.code {
      font-family: "Courier New";
      font-weight: bold;
    }
  }
  section.options {
    display: flex;
    .search-input-container {
      flex-grow: 2;
      position: relative;
    }
    .search-input {
      padding: 10px;
      font-size: 14px;
      width: 100%;
    }
    .fa-search {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 20px;
      color: $blue;
    }
    a {
      i.fa {
        margin-left: 35px;
      }
      &.clipboard-copy {
        margin-left: auto;
        i.fa-clone {
          margin-left: 25px;
        }
        &.copied {
          animation: pulse 1s;
          animation-iteration-count: 1;
          position: relative;
        }
        @keyframes pulse {
          0% {
            box-shadow: 0 0 0 0 white;
          }
          70% {
            box-shadow: 0 0 10px 8px lighten($green, 15%);
          }
          100% {
            box-shadow: 0 0 0 0 white;
          }
        }

      }
    }
  }
  div.Select {
    margin: 15px 0;
  }
  section#results-printable {
    display: none;
  }

  table {
    width: 100%;
    th {
      text-align: left;
      &.extra {
        padding-right: 10px;
      }
      &.notes {
        text-align: center;
      }
    }
    tbody {
      tr:nth-child(odd) {
        background-color: $lightest-grey;
      }
      td {
        vertical-align: middle;
        word-wrap: break-word;
        padding: 3px;
        &.key {
          width: 30%;
        }
        &.value {
          width: 70%;
        }
        &.trash {
          text-align: center;
          cursor: pointer;
          i.fa {
            color: $red;
            font-size: 20px;
            text-align: center;
            padding: 0 10px;
          }
        }
        &.state {
          width: 10%;
        }
        &.notes {
          width: 10%;
          text-align: center;
          i.fa-info-circle {
            color: $blue;
            font-size: 20px;
          }
        }
        &.name {
          width: 20%;
        }
        &.entityId {
          width: 25%;
        }
      }
    }
  }
}

