@use "../../stylesheets/vars.scss";
@use "../../stylesheets/mixins.scss";

.metadata-consent-disabling {
    background-color: white;
    padding: 20px;

    .consent-disabling-info {
        margin: 15px 0;

        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

    }

    section.consent-disabling {
        margin-top: 15px;

        table {
            width: 100%;

            th {
                text-align: left;
                cursor: pointer;
                padding-bottom: 10px;

                i {
                    margin-left: 15px;
                    color: vars.$lighter-grey;

                    &.current, &.reverse {
                        color: vars.$blue;
                    }
                }

                &.remove {
                    min-width: 25px;
                }

                &.status {
                    min-width: 100px;
                }

                &.name {
                    width: 14%;
                }

                &.organization {
                    width: 14%;
                }

                &.entityid {
                    width: 16%;

                }

                &.explanationNl, &.explanationEn {
                    width: 20%;
                }

                &.consent_value {
                    width: 18%;
                }
            }

            tbody {
                tr:nth-child(odd) {
                    background-color: vars.$lightest-grey;
                }

                td {
                    word-break: break-all;
                    vertical-align: middle;

                    &.remove {
                        padding: 5px 10px 5px 0;
                        text-align: center;

                        i.fas {
                            color: vars.$red;
                            font-size: 20px;
                        }
                    }

                    &.explanation {
                        input, textarea {
                            @include mixins.inputField;
                            width: 95%;
                            margin-top: 0;
                        }
                    }

                    div.select-consent-value {
                        margin-right: 10px;
                    }
                }

            }

        }
    }

}
