@use "../../stylesheets/vars.scss";


.metadata-import {
    $item-offset: 20px;
    background-color: white;

    h2, h3 {
        margin-bottom: calc($item-offset / 2);
    }

    h2 {
        font-size: 18px;
        color: vars.$blue;
        font-weight: normal;
    }

    h3 {
        font-size: 16px;
        color: vars.$blue;
        font-weight: normal;
        margin-top: $item-offset;
    }

    section.sub-tabs {
        margin-top: $item-offset;
        background: vars.$background;
        display: flex;
        padding: 0;

        span {
            flex: 1;
            text-align: center;
            cursor: pointer;
            padding: 15px 25px;
            background-color: vars.$light-grey;
            color: vars.$dark-grey;
            text-transform: uppercase;
            border-right: 1px solid white;

            &.active {
                background-color: white;
                color: vars.$darker-blue;
                border-top: 2px solid vars.$blue;
                border-right: none;
                font-weight: bold;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    section.content {
        padding: 20px;
    }

    section.import-url-container, section.import-xml, section.import-json {
        section.import-footer {
            margin-top: $item-offset
        }

        section.import-header, section.import-footer {
            display: flex;

            a.button {
                margin-left: $item-offset;
                flex: 0 0 auto;

                &.green {
                    i.fa-cloud-download {
                        margin-left: 65px;
                    }
                }
            }

            > * {
                flex: 1;
            }
        }

        p.invalid {
            color: vars.$red;
            font-size: larger;
        }

        div.ReactCodeMirror {
            border: 2px solid #f7f7f7;

            div.CodeMirror {
                height: 1000px;
            }
        }
    }

    section.validation-errors {
        background-color: vars.$red;
        color: white;
        padding: 25px;
        border-radius: vars.$br;
        border: 1px solid vars.$red;
        margin: 15px 0;

        ul {
            list-style: none;
            padding: 15px 25px;
        }
    }

    h2.no_results {
        margin: 20px 0 10px 0;
        padding-bottom: 25px;
    }

    input[type=text], textarea {
        width: 100%;
        font-size: 14px;
        padding: 0 10px;
        border-radius: 3px;
        border: 1px solid #d9d9d8;
        line-height: 33px;

        &.error {
            border: solid 1px vars.$red;
        }
    }

    section.import-results {
        div.import-results-info {
            p {
                margin-top: 10px;
            }
        }

        margin: 20px 0 10px 0;

        table {
            margin: 35px 0;
            width: 100%;
            text-align: left;
            border: 1px solid vars.$light-grey;
            border-radius: vars.$br;

            thead th {
                text-align: left;
                padding: 10px 5px;

                &.title {
                    color: vars.$blue;
                    padding: 15px;
                    border-bottom: 1px solid vars.$light-grey;
                    font-size: larger;
                }

                &.include {
                    width: 1%;
                }

                &.name {
                    width: 25%;
                }

                &.current {
                    width: 37%;
                }

                &.newValue {
                    width: 37%;
                }

                &.left {
                    width: 50%;
                }

                &.right {
                    width: 50%;
                }
            }

            tbody {
                tr:nth-child(odd) {
                    background-color: vars.$lightest-grey;
                }

                tr.spacer {
                    background-color: vars.$lightest-grey;
                }

                td {
                    word-wrap: break-word;
                    padding: 5px;
                    overflow: hidden;
                    max-width: 600px;

                    &.include {
                        text-align: center;
                    }

                    &.isCheckBox {
                        text-align: center;
                    }

                    ul.entities {
                        list-style: none;

                        li {
                            padding: 5px 0;
                        }
                    }
                }

            }

            &.arp, &.arpValues {
                margin: 0;
                width: 100%;
                text-align: left;
                border: none;

                i.fa-arrow-right {
                    margin: 3px 25px 3px 25px;
                }

                td.arpKey {
                    i.fa-trash {
                        color: vars.$red;
                        font-size: 16px;
                        padding: 5px;

                        &.old {
                            color: vars.$lightest-grey;
                            background-color: vars.$lightest-grey;
                        }
                    }
                }

            }
        }

        div.result-actions {
            display: flex;
            align-items: center;

            span {
                color: vars.$orange;
                font-size: 18px;
                font-weight: bold;
            }

            a {
                margin: 10px 10px 10px auto;

                i {
                    margin-left: 35px;
                }
            }
        }

    }
}
