@use "../../stylesheets/vars.scss";

.inline-editable {
    span {
        min-height: 28px;
        padding: 5px 0 5px 10px;
        width: 100%;
        display: block;

        i.fa-pencil {
            float: right;
            margin: 2px 10px;
        }

        &.edit-editable {
            background-color: vars.$light-blue;
            padding: 8px 4px 8px 10px;
        }
    }

    input[type=text], input[type=email] {
        display: block;
        width: 100%;
        padding: 5px 0 5px 10px;
        font-size: 14px;
        background-color: vars.$light-grey;
    }

    div.error {
        margin: 10px 0;
        color: vars.$red;
    }

}
