@use "../../stylesheets/vars.scss";
@use "../../stylesheets/media_queries.scss";

.metadata-institution {
    background-color: white;
    padding: 10px 20px 20px 20px;

    section.institution {
        margin-top: 15px;
        width: 50%;
        .error {
            color: vars.$red;
            margin-top: 5px;
            font-size: 14px;
        }

        label > span {
            margin-bottom: 5px;
        }

        .input-field {
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;

            &.row {
                flex-direction: row;
            }

            label {
                margin-bottom: 5px;
                display: inline-block;
            }


        }

        input, textarea {
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #d9d9d8;
            line-height: 22px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

            &.max {
                width: 100%;
            }

            @include media_queries.desktop {
                width: 100%;
            }

        }

    }

}
