@use "../../stylesheets/vars.scss";
@use "../../stylesheets/mixins.scss";

.metadata-manipulation {
    background-color: white;

    section.sub-tabs {
        margin-top: 15px;
        display: flex;
        padding: 0;
        background: vars.$background;

        span {
            text-align: center;
            cursor: pointer;
            padding: 15px 25px;
            background-color: vars.$light-grey;
            color: vars.$dark-grey;
            text-transform: uppercase;
            border-right: 1px solid white;

            &.active {
                background-color: white;
                color: vars.$darker-blue;
                border-top: 2px solid vars.$blue;
                border-right: none;
                font-weight: bold;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    section.notes {
        display: flex;
        margin-bottom: 15px;

        .w-md-editor {
            width: 100%;
        }
    }

    .manipulation-info {
        padding: 0 20px;

        h1 {
            font-size: 20px;
            margin: 10px 0;
        }

        h2 {
            font-size: 18px;
            margin: 10px 0;

            a {
                color: vars.$blue;

                &:visited {
                    color: vars.$blue;
                }

                @include mixins.no-text-decoration;
            }
        }

        h3 {
            font-size: 16px;
            margin: 10px 0;
        }

    }

    .comments {
        .CodeMirror {
            height: auto;
            background-color: vars.$lightest-grey;
        }
    }
    .manipulation {
        .CodeMirror {
            height: 100%;
        }
    }
    .read-only {
        .CodeMirror {
            background-color: vars.$hover;
        }
    }

    .remarks {
        font-weight: 600;
        margin: 15px;
        font-size: 18px;
    }

    .collapse-button {
        margin: 3px 5px 3px 0;
        cursor: pointer;
        color: vars.$blue;
    }
}
