@import "../../stylesheets/vars.scss";
@import "../../stylesheets/mixins.scss";

.accept-notes {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 25px;

    p {
        line-height: 22px;
        font-size: 15px;
        margin-bottom: 5px;
    }

    textarea {
        min-height: 175px;
        border: 1px solid #d9d9d8;
        padding: 6px;
        border-radius: 3px;
        font-family: "Roboto", Sans-serif, serif;
    }
}

.metadata-change-requests {
    background-color: white;
    padding: 20px;

    .change-request-info {
        margin: 15px 0;

        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

    }

    div.loading {
        display: flex;
        height: 40px;

        span {
            margin: auto;
        }
    }

    table.change-requests-table {
        width: 100%;
        table-layout: fixed;
        border: 1px solid $light-grey;
        border-radius: $br;
        margin: 15px;

        thead th {
            text-align: left;
            padding: 10px;
            background-color: $lightest-grey;

            &.created {
                width: 20%;
            }

            &.incremental {
                width: 10%;
                text-align: center;
            }

            &.apiClient {
                width: 10%;
            }

            &.changes {
                width: 40%;
            }

            &.nope {
                width: 20%;
            }
        }

        tbody {
            tr:nth-child(even) {
                background-color: $lightest-grey;
            }

            td {
                padding: 10px;

                &.incremental {
                    .wrapper {
                        display: flex;
                    }

                    .checkbox {
                        margin: auto;
                    }
                }

                &.nope {
                    text-align: right;
                }

                &.notes span.notes {
                    font-style: italic;
                }

                .checkbox {
                    display: flex;
                }
            }
        }

        div.accept {
            display: flex;

            a:first-child {
                margin: 0 15px 0 auto;
            }
        }
    }
}