@import "../../stylesheets/vars.scss";
@import "../../stylesheets/media_queries.scss";

.metadata-policy-form {
    background-color: white;
    padding: 10px 20px 20px 20px;

    section.policy-form {
        margin-top: 15px;

        .error {
            color: $red;
            margin-top: 5px;
        }

        label > span {
            margin-bottom: 5px;
        }

        .input-field {
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;

            &.row {
                flex-direction: row;
            }

            label {
                margin-bottom: 5px;
                display: inline-block;
            }


        }

        input, textarea {
            width: 50%;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #d9d9d8;
            line-height: 22px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

            &.max {
                width: 100%;
            }

            @include desktop {
                width: 100%;
            }

        }

        .policy-select {
            width: 50%;

            &.max {
                width: 100%;
            }

            @include desktop {
                width: 100%;
            }

        }

        .fa-info-circle {
            color: $blue;
            margin-left: 5px;
        }

    }

    .loas {
        margin-bottom: 25px;
        padding: 15px;
        border-radius: 3px;
        border: 1px solid #d9d9d8;
        max-width: 50%;

        @include desktop {
            width: 100%;
        }

        .loa {
            display: flex;

            i.fa-trash-o {
                color: $red;
                font-size: 26px;
                margin: 4px 0 0 10px;
                cursor: pointer;
            }
        }

        .loa-container {
            margin: 0 0 25px 60px;
            display: flex;
            flex-direction: column;

            p {
                margin-top: 15px;
            }

        }


    }


    div.__react_component_tooltip {
        max-width: 400px;
    }

    .checkbox-options {
        display: flex;
        width: 50%;
        flex-direction: row;
        padding: 15px;
        border-radius: 3px;
        border: 1px solid #d9d9d8;
        margin-bottom: 25px;

        &.max {
            width: 100%;
        }

        @include desktop {
            width: 100%;
        }

        .checkbox-container {
            &:last-child {
                margin-left: 160px;
            }
            &.adjustment {
                margin-left: 118px;

            }
        }
    }

}
