@import "../../stylesheets/vars.scss";

.metadata-resource-servers {
    background-color: white;
    padding: 20px;

    .resource-servers-info {
        margin: 15px 0;

        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

    }

    .options {
        float: right;

        span.button {
            i.fa-clone {
                margin-left: 25px;
            }

            &.copied {
                animation: pulse 1s;
                animation-iteration-count: 1;
                position: relative;
            }

            @keyframes pulse {
                0% {
                    box-shadow: 0 0 0 0 white;
                }
                70% {
                    box-shadow: 0 0 10px 8px lighten($green, 15%);
                }
                100% {
                    box-shadow: 0 0 0 0 white;
                }
            }
        }
    }

    .search-input-container {
        flex-grow: 2;
        position: relative;
        margin-top: 15px;

        .search-input {
            padding: 10px;
            font-size: 14px;
            width: 100%;
        }

        .fa-search {
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 20px;
            color: $blue;
        }
    }

    section.allowed-resource-servers-printable {
        display: none;
    }

    section.allowed-entities {
        margin-top: 15px;

        table {
            width: 100%;

            th {
                text-align: left;
                cursor: pointer;

                i {
                    margin-left: 15px;
                    color: $lighter-grey;

                    &.current, &.reverse {
                        color: $blue;
                    }
                }

                &.select {
                    width: 1%;
                }

                &.status {
                    width: 15%;
                }

                &.name {
                    width: 20%;
                }

                &.organization {
                    width: 20%;
                }

                &.entityid {
                    width: 35%;
                }

                &.info {
                    min-width: 60px;
                    text-align: center;
                }
            }

            tbody tr {
                &:nth-child(odd) {
                    background-color: $lightest-grey;
                }

            }

            td {
                vertical-align: middle;

                &.blocked, &.remove, &.info {
                    padding: 5px;
                    text-align: center;

                    i.fa {
                        color: $red;
                        font-size: 20px;

                        &.fa-info-circle {
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}
