@use "../../stylesheets/vars.scss";
@use "../../stylesheets/mixins.scss";

.metadata-revisions {
    background-color: white;
    padding: 20px;

    .revisions-info {
        margin: 15px 0;

        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

    }

    table.revision-table {
        width: 100%;
        table-layout: fixed;
        border: 1px solid vars.$light-grey;
        border-radius: vars.$br;
        margin: 15px;

        thead th {
            text-align: left;
            padding: 10px;
            background-color: vars.$lightest-grey;

            &.number {
                width: 10%;
            }

            &.created {
                width: 20%;
            }

            &.updatedBy {
                width: 20%;
            }

            &.status {
                width: 15%;
            }

            &.notes {
                width: 25%;
            }

            &.nope {
                width: 10%;
            }
        }

        tbody {
            tr:nth-child(even) {
                background-color: vars.$lightest-grey;
            }

            td {
                padding: 10px;
            }
        }
    }
}
