@use "../../stylesheets/vars.scss";

.metadata-whitelist {
    background-color: white;
    padding: 20px;

    .whitelist-info {
        margin: 15px 0;

        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }

    }

    .options {
        display: flex;

        span.button {
            margin-left: auto;

            i.fa-clone {
                margin-left: 25px;
            }

            &.copied {
                animation: pulse 1s;
                animation-iteration-count: 1;
                position: relative;
            }

            @keyframes pulse {
                0% {
                    box-shadow: 0 0 0 0 white;
                }
                70% {
                    box-shadow: 0 0 10px 8px lighten(vars.$green, 15%);
                }
                100% {
                    box-shadow: 0 0 0 0 white;
                }
            }
        }
    }

    .search-input-container {
        flex-grow: 2;
        position: relative;
        margin-top: 15px;

        .search-input {
            padding: 10px;
            font-size: 14px;
            width: 100%;
        }

        .fa-search {
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 20px;
            color: vars.$blue;
        }
    }

    section.allowed-entities-printable {
        display: none;
    }

    section.allowed-entities, section.removed-entities {
        margin-top: 15px;

        table {
            width: 100%;

            th {
                text-align: left;
                cursor: pointer;
                white-space: nowrap;

                i {
                    margin-left: 15px;
                    color: vars.$lighter-grey;

                    &.current, &.reverse {
                        color: vars.$blue;
                    }
                }

                &.select {
                    width: 1%;
                }

                &.blocked {
                    min-width: 90px;
                    text-align: center;
                }

                &.status {
                    width: 15%;
                }

                &.name {
                    width: 20%;
                }

                &.organization {
                    width: 20%;
                }

                &.entityid {
                    width: 35%;
                }

                &.info {
                    min-width: 60px;
                    text-align: center;
                }
            }

            tbody tr {
                &:nth-child(odd) {
                    background-color: vars.$lightest-grey;
                }

                &.added {
                    background-color: #e2ffde;
                    color: vars.$dark-grey;
                }

                &.removed {
                    background-color: #ffced1;
                    color: vars.$dark-grey;
                    font-weight: bolder;
                }
            }

            td {
                vertical-align: middle;

                &.blocked, &.remove, &.info {
                    padding: 5px;
                    text-align: center;

                    i.fa {
                        color: vars.$red;
                        font-size: 20px;

                        &.fa-info-circle {
                            color: vars.$blue;
                        }
                    }
                }
            }
        }
    }

    section.removed-entities {
        margin-bottom: 25px;

        p {
            color: vars.$red;
            margin-bottom: 10px;
        }
    }

}
