// Bordered & Pulled
// -------------------------
@use "variables";
.#{variables.$fa-css-prefix}-border {
    padding: .2em .25em .15em;
    border: solid .08em variables.$fa-border-color;
    border-radius: .1em;
}

.#{variables.$fa-css-prefix}-pull-left {
    float: left;
}

.#{variables.$fa-css-prefix}-pull-right {
    float: right;
}

.#{variables.$fa-css-prefix} {
    &.#{variables.$fa-css-prefix}-pull-left {
        margin-right: .3em;
    }

    &.#{variables.$fa-css-prefix}-pull-right {
        margin-left: .3em;
    }
}

/* Deprecated as of 4.4.0 */
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.#{variables.$fa-css-prefix} {
    &.pull-left {
        margin-right: .3em;
    }

    &.pull-right {
        margin-left: .3em;
    }
}
