// Rotated & Flipped Icons
// -------------------------
@use "variables";
@use "mixins";
.#{variables.$fa-css-prefix}-rotate-90 {
    @include mixins.fa-icon-rotate(90deg, 1);
}

.#{variables.$fa-css-prefix}-rotate-180 {
    @include mixins.fa-icon-rotate(180deg, 2);
}

.#{variables.$fa-css-prefix}-rotate-270 {
    @include mixins.fa-icon-rotate(270deg, 3);
}

.#{variables.$fa-css-prefix}-flip-horizontal {
    @include mixins.fa-icon-flip(-1, 1, 0);
}

.#{variables.$fa-css-prefix}-flip-vertical {
    @include mixins.fa-icon-flip(1, -1, 2);
}

// Hook for IE8-9
// -------------------------

:root .#{variables.$fa-css-prefix}-rotate-90,
:root .#{variables.$fa-css-prefix}-rotate-180,
:root .#{variables.$fa-css-prefix}-rotate-270,
:root .#{variables.$fa-css-prefix}-flip-horizontal,
:root .#{variables.$fa-css-prefix}-flip-vertical {
    filter: none;
}
