@use "../../stylesheets/vars.scss";

span.error {
    color: vars.$red;
    display: block;

    i {
        margin: 10px 5px 0 0;
    }
}

.password-field {
    display: flex;
    border: 1px solid vars.$lighter-grey;
    border-radius: 3px;
    background-color: #fff;
    line-height: 33px;

    &:focus-within {
        box-shadow: 0 0 3px 3px #65acff;
    }

    &.disabled {
        background-color: vars.$light-blue;

        .password-input {
            background-color: vars.$light-blue;
        }
    }

    .password-input {
        background-color: #fff;
        border: none !important;

        &:focus {
            outline: none;
        }
    }

    .password-icon-container {
        display: flex;
    }

    .password-icon {
        padding: 0 8px;
        text-align: center;

        i {
            width: 20px;
            color: vars.$dark-grey;
            cursor: pointer;

            &.key {
                color: vars.$dark-green;
            }

            &.copy {
                color: vars.$blue;
            }

            &.copied {
                animation: pulse 1.0s;
                animation-iteration-count: 1;
                border-radius: 50%;
                position: relative;
            }

            &.undo {
                color: vars.$red;
            }

            &.save {
                color: vars.$darker-blue;
            }
        }

        @keyframes pulse {
            0% {
                box-shadow: 0 0 0 0 white;
            }
            70% {
                box-shadow: 0 0 4px 4px vars.$blue;
            }
            100% {
                box-shadow: 0 0 0 0 white;
            }
        }


    }

    .separator {
        background-color: #ccc;
        margin: 8px 0;
        width: 1px;
    }
}
