@import "../../stylesheets/vars.scss";

span.error {
  color: $red;

  i {
    margin: 10px 5px 0 0;
  }
}

.password-field {
  display: flex;
  border: 1px solid $lighter-grey;
  border-radius: 3px;
  background-color: #fff;
  line-height: 33px;

  &:focus-within {
    box-shadow: 0 0 3px 3px #65acff;
  }

  &.disabled {
    background-color: $light-blue;

    .password-input {
      background-color: $light-blue;
    }
  }

  .password-input {
    background-color: #fff;
    border: none !important;

    &:focus {
      outline: none;
    }
  }

  .password-icon-container {
    display: flex;
  }

  .password-icon {
    padding: 0px 8px;
    text-align: center;

    i {
      width: 20px;
      color: $dark-grey;

      &.undo {
        color: $red;
      }

      &.save {
        color: $darker-blue;
      }
    }
  }

  .separator {
    background-color: #ccc;
    margin: 8px 0;
    width: 1px;
  }
}
