@use "../stylesheets/vars.scss";

div.checkbox {

    input[type="checkbox"] {
        display: none;
    }

    label {
        display: inline-block;
        margin: 3px 0;

        &.info {
            margin-left: 10px;
        }
    }

    input[type="checkbox"] + label span {
        font-size: 11px;
        background-color: white;
        border: 1px solid vars.$blue;
        border-radius: 3px;
        padding: 1px 2px;
        margin: 2px 0;
        cursor: pointer;

        i {
            color: transparent;
            padding: 0 1px;
        }
    }

    input[type="checkbox"]:disabled + label span {
        border: 1px solid darken(vars.$medium-grey, 5%);
        background-color: vars.$light-grey;
        cursor: not-allowed;
    }

    input[type="checkbox"]:checked + label span {
        border: 2px solid vars.$blue;
        border-radius: 2px;
        box-shadow: none;
        padding: 0;

        i {
            background-color: vars.$blue;
            color: white;
            padding: 3px 2px;
        }
    }

    input[type="checkbox"]:checked:disabled + label span {
        border: 3px solid vars.$medium-grey;
        cursor: default;

        i {
            background-color: vars.$medium-grey;
        }
    }
}
