@use "../stylesheets/vars.scss";
@use "../stylesheets/mixins.scss";

div.format-input {
    span {
        color: vars.$red;
        display: block;

        i.fa {
            margin-right: 10px;
        }
    }
}
