@use "../stylesheets/vars.scss";
@use "../stylesheets/mixins.scss";
@use "../stylesheets/media_queries.scss";

.header-container {

    background-color: white;

    .header {
        max-width: vars.$medium;
        margin: 0 auto;
        padding: 19px 15px 40px 15px;
        position: relative;

        @include media_queries.phone {
            margin: 0 auto;
        }

        a {
            color: vars.$blue;
            font-weight: bold;
            @include mixins.no-text-decoration;
        }


        a.logo {
            position: absolute;
            top: 12px;

            @include media_queries.phone {
                position: initial;
            }

            img {
                height: 60px;
            }
        }

        ul.links {
            display: flex;
            align-items: center;
            font-size: larger;
            list-style: none;

            li {
                display: inline-block;
                margin-right: 15px;

                i {
                    &.fa-caret-up, &.fa-caret-down {
                        margin-left: 10px;
                        margin-right: 30px;
                    }

                    &.fa-user-circle-o {
                        font-size: larger;
                        margin-right: 10px;
                    }
                }

                &.title {
                    margin-left: 210px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 21px;
                    color: vars.$blue;

                    @include media_queries.phone {
                        margin-left: 0;
                    }
                }

                &.language {
                    margin: 0 25px 0 auto;
                    display: flex;
                    gap: 10px;

                    span {
                        cursor: pointer;
                        color: vars.$blue;

                        &.active {
                            color: black;
                            cursor: default;
                        }
                    }
                }

                &.border-left {
                    border-left: 1px solid vars.$blue;
                    padding-left: 15px;
                    @include media_queries.phone {
                        display: none;
                    }
                }


            }

            a.welcome-link {
                position: relative;
            }

            ul.user-profile {
                position: absolute;
                z-index: 2;
                padding: 10px;
                list-style: none;
                min-width: 300px;
                top: 50px;
                background: #fff;
                border-radius: vars.$br;
                box-shadow: 1px 1px vars.$br rgba(black, .3);
                @include media_queries.phone {
                    display: none;
                }

                li {
                    font-style: italic;
                    font-size: 13px;
                    margin-bottom: 5px;
                    display: block;

                    span {
                        &.value {
                            font-style: normal;
                            float: right;
                        }
                    }

                }
            }

        }

    }

}
