@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.navigation-container {

    background-color: $blue;
    .navigation {
        max-width: $medium;
        margin: 0 auto;
        padding: 25px 15px 0 15px;
        font-size: 20px;
        display: flex;
        position: relative;
        a.menu-item {
            color: lighten($light-blue, 5);
            margin-right: 50px;
            padding-bottom: 12px;
            @include no-text-decoration;

            &.active {
                color: white;
                font-weight: bold;
                border-bottom: 6px solid white;
            }
        }
        a.push {
            position: absolute;
            top: 8px;
            right: 15px;
            font-size: 16px;
            i {
                margin-left: 35px;
                color: $blue;
            }
        }


    }
}





