@use "../stylesheets/vars.scss";
@use "../stylesheets/media_queries.scss";

.playground-policy-form {
    background-color: white;
    padding: 10px 20px 20px 20px;
    display: flex;
    gap: 60px;

    section.policy-form {
        width: 48%;
        margin-top: 15px;

        .error {
            color: vars.$red;
            margin-top: 5px;
        }

        label > span {
            margin-bottom: 5px;
        }

        .input-field {
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;

            &.row {
                flex-direction: row;
            }

            label {
                margin-bottom: 5px;
                display: inline-block;
            }


        }

        input, textarea {
            width: 100%;
            padding: 5px;
            border-radius: 3px;
            border: 1px solid #d9d9d8;
            line-height: 22px;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        .policy-select {
            width: 100%;
        }

        .actions {
            display: flex;
            justify-content: flex-end;
        }
    }

    .policy-response {
        flex: 2;
    }

    .pdp-response-options {
        margin: 10px 0 10px 0;
        display: flex;
        gap: 20px;
        align-items: center;

        a.active {
            color: black;
            text-decoration: none;
            cursor: none;
        }

        span {
            font-size: 20px;
        }
    }

    .pdp-response {
        padding: 15px;
        border: 1px solid lightgrey;
        border-radius: 6px;

        .Í¼1.cm-focused {
            outline: none;
        }
    }

    .copy-container {
        display: flex;
        margin-left: auto;

        span.button {
            margin-left: auto;

            i.fa {
                margin-left: 25px;
            }

            &.copied {
                animation: pulse 1s;
                animation-iteration-count: 1;
                position: relative;
            }

            @keyframes pulse {
                0% {
                    box-shadow: 0 0 0 0 white;
                }
                70% {
                    box-shadow: 0 0 10px 8px lighten(vars.$green, 15%);
                }
                100% {
                    box-shadow: 0 0 0 0 white;
                }
            }
        }

    }


}
