@import "../stylesheets/vars.scss";

.missing-enforcement-policies {
    background-color: white;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    table {
        th {
            text-align: left;
            padding: 5px;

            &.name {
                width: 15%;
            }

            &.type {
                width: 10%;
            }

            &.description {
                width: 25%;
            }

            &.providers {
                width: 25%;
            }

            &.identityProviders {
                width: 25%;
            }
        }

        td {
            padding: 5px;

            div.providers {
                display: flex;
                gap: 5px;
                flex-direction: column;
            }
        }
    }
}
