@import "../stylesheets/mixins.scss";

.detail-metadata {
    @include page;

    section.tabs {
        display: flex;
        margin-top: 40px;
        padding: 10px 0 0 0;
        span {
            flex-grow: 1;
            text-align: center;
            cursor: pointer;
            padding: 15px;
            background-color: white;
            color: $medium-grey;
            text-transform: uppercase;
            border: 1px solid $blue;
            border-right: none;
            border-bottom: none;

            &.active {
                background-color: $blue;
                color: white;
            }

            &:first-child {
                border-top-left-radius: $br;
            }

            &:last-child {
                border-top-right-radius: $br;
                border-right: 1px solid $blue;
            }
        }
    }

}

