@import "../stylesheets/mixins.scss";

.detail-metadata {
    @include page;

    section.tabs {
        display: flex;
        margin-top: 40px;
        padding: 10px 0 0 0;
        span {
            flex-grow: 1;
            text-align: center;
            cursor: pointer;
            padding: 15px;
            background-color: $light-grey;
            color: $dark-grey;
            text-transform: uppercase;
            border-right: 1px solid white;

            &.active {
                background-color: white;
                color: $darker-blue;
                border-top: 2px solid $blue;
                border-right: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

}

