@import "../../stylesheets/vars.scss";

.metadata-connection {
    background-color: white;
    padding: 20px;

    table.data {
        width: 100%;
        border: 1px solid $lighter-grey;
        border-radius: $br;
        border-collapse: separate;
        padding-bottom: 15px;

        tr {
            &.first {
                padding: 0;
                background-color: $lightest-grey;
            }
        }
        td {
            vertical-align: middle;
            &.logo {
                text-align: center;
                img {
                    width: 64px;
                }
            }
            &.logo-name {
                vertical-align: middle;
            }
            &.key {
                vertical-align: top;
                padding: 15px;
                width: 15%;
            }
            &.value {
                width: 85%;
                padding-right: 15px;
            }
        }

        input[type=text], input[type=email], textarea {
            display: block;
            width: 100%;
            border: 1px solid $lighter-grey;
            padding: 6px;
            border-radius: $br;
            font-size: 14px;
            &[disabled] {
                background-color: $light-grey;
            }
        }


    }
}