@import "../../stylesheets/vars.scss";

.metadata-import {
    background-color: white;
    padding: 20px;

    h2 {
        font-size: 18px;
        color: $blue;
        font-weight: normal;
    }

    section.sub-tabs {
        display: flex;
        padding: 0;
        span {
            text-align: center;
            cursor: pointer;
            padding: 15px 50px;
            background-color: $light-grey;
            color: $dark-grey;
            text-transform: uppercase;
            border-right: 1px solid white;

            &.active {
                background-color: white;
                color: $darker-blue;
                border-top: 2px solid $blue;
                border-right: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
    section.import-url, section.import-xml, section.import-json {
        section.import-header, section.import-footer {
            display: flex;
            align-items: center;
            margin: 10px 0 15px 0;
            h2 {
                margin-right: auto;
            }
            a.button {
                &.green {
                    i.fa-cloud-download {
                        margin-left: 65px;
                    }
                }
                &.footer {
                    margin-left: auto;
                }
            }
        }
        p.invalid {
            color: $red;
        }
        div.ReactCodeMirror {
            border: 2px solid #f7f7f7;

            div.CodeMirror {
                height: 1000px;
            }
        }
    }
    section.validation-errors {
        background-color: $red;
        color: white;
        padding: 25px;
        border-radius: $br;
        border: 1px solid $red;
        margin: 15px 0;
        ul {
            list-style: none;
            padding: 15px 25px;
        }
    }
    h2.no_results {
        margin: 20px 0 10px 0;
    }
    section.import-url {
        margin-bottom: 50px;
    }
    input[type=text], textarea {
        width: 100%;
        font-size: 14px;
        padding: 0 10px;
        border-radius: 3px;
        border: 1px solid #d9d9d8;
        margin-top: 5px;
        line-height: 33px;
        &.error {
            border: solid 1px $red;
        }
    }
    section.import-results {
        div.import-results-info {
            p {
                margin-top: 10px;
            }
        }
        margin: 20px 0 10px 0;
        table {
            margin: 35px 0;
            width: 100%;
            text-align: left;
            border: 1px solid $light-grey;
            border-radius: $br;
            thead th {
                text-align: left;
                padding: 10px 5px;
                &.title {
                    color: $blue;
                    padding: 15px;
                    border-bottom: 1px solid $light-grey;
                    font-size: larger;
                }
                &.include {
                    width: 1%;
                }
                &.name {
                    width: 25%;
                }
                &.current {
                    width: 37%;
                }
                &.newValue {
                    width: 37%;
                }
                &.left {
                    width: 50%;
                }
                &.right {
                    width: 50%;
                }
            }
            tbody {
                tr:nth-child(odd) {
                    background-color: $lightest-grey;
                }
                td {
                    word-wrap: break-word;
                    padding: 5px;
                    overflow: hidden;
                    max-width: 600px;

                    &.include {
                        text-align: center;
                    }
                    &.isCheckBox {
                        text-align: center;
                    }
                    ul.entities {
                        list-style: none;
                        li {
                            padding: 5px 0;
                        }
                    }
                }

            }
            &.arp, &.arpValues {
                margin: 0;
                width: 100%;
                text-align: left;
                border: none;
                i.fa-arrow-right {
                    margin: 3px 25px 3px 25px;
                }
            }
        }

        div.result-actions {
            display: flex;
            align-items: center;
            span {
                color: $orange;
                font-size: 18px;
                font-weight: bold;
            }
            a {
                margin: 10px 10px 10px auto;
                i {
                    margin-left: 35px;
                }
            }
        }

    }
}
