@import "../stylesheets/vars.scss";
@import "../stylesheets/mixins.scss";

.navigation-container {

  background-color: $blue;

  .navigation {
    max-width: $medium;
    margin: 0 auto;
    padding: 25px 15px 0 15px;
    font-size: 20px;
    display: flex;

    a {
      font-weight: bold;
      color: lighten($light-blue, 5);
      margin-right: 50px;
      padding-bottom: 12px;
      @include no-text-decoration;

      &.active {
        color: white;
        border-bottom: 6px solid white;
      }
    }

  }
}





