// Colors
$blue: #4DB2CF;
$lighter-blue: #a8d9e6;
$light-blue: #f0fafe;

$darker-blue: #4da7c0;
$red: #B62222;
$green: #33CD2E;
$dark-green: #276b1e;
$orange: #fd8a25;
$background: #f9f9f9;
$light-grey: #eff2f3;
$lighter-grey: #d9d9d8;
$lightest-grey: #fbfbfb;
$hover: #F9FCFD;
$medium-grey: #a6b6be;
$dark-grey: #565656;

$gold: #D4AF37;

// borders
$border: rgba(black,.1);
$border-light: rgba(white, .2);

// Sizes
$br: 3px;

// Screen
$medium: 1680px;