# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Manage CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        mongodb-version: [ 4.4 ]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '16'

      - uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
          mongodb-replica-set: test-rs

      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'

      - uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up MySQL
        uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: '8.0'
      - run: |
          mysql -uroot -h127.0.0.1 -e \
          "CREATE DATABASE pdpserver CHARACTER SET utf8mb4 \
          COLLATE utf8mb4_0900_ai_ci;"

      - name: Build with Maven
        run: mvn -B clean install

      - name: Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
